*{
    -fx-background-color: linear-gradient(to bottom, rgba(62, 191, 229, 0.27), rgba(25, 246, 109, 0.27));
    //-fx-background-color: linear-gradient(#5ac8fa,#9ff3c5 );
    -fx-background-radius: 3px 3px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-opacity: 0.6;
    -fx-padding: 0 0 0px 0;
}