.button {
    -fx-background-color: linear-gradient(#c95d5d, #ff0015),
    radial-gradient(center 50% -40%, radius 200%, #c95d5d 45%, #ff0015 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);

}

.button:hover
{
    -fx-background-color:
            linear-gradient(#ff0015, #c95d5d),
            radial-gradient(center 50% -40%, radius 200%, #ff0015 45%, #c95d5d 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #395306;

}