.button {
    -fx-background-color: linear-gradient(#b9b7b7, #636363),
                            radial-gradient(center 50% -40%, radius 200%, #b9b7b7 45%, #636363 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);

}

.button:hover
{
    -fx-background-color:
            linear-gradient(#636363,#b9b7b7),
            radial-gradient(center 50% -40%, radius 200%, #636363 45%, #b9b7b7 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #395306;

}